[submodule "core/css/fonts/moby-dick-3"]
	path = core/css/fonts/moby-dick-3
	url = https://github.com/kuzminklk/moby-dick
[submodule "core/html/svg/lines-2"]
	path = core/html/svg/lines-2
	url = https://github.com/kuzminklk/lines
[submodule "core/css/background/fall"]
	path = core/css/background/fall
	url = https://github.com/kuzminklk/fall
