html {
	background: conic-gradient(
		from 210deg,
		rgba(184, 187, 197, 1) 0deg,
		rgba(184, 187, 197, 1) 24deg,
		rgba(184, 181, 184, 1) 24deg,
		rgba(184, 181, 184, 1) 48deg,
		rgba(183, 175, 169, 1) 48deg,
		rgba(183, 175, 169, 1) 72deg,
		rgba(181, 168, 154, 1) 72deg,
		rgba(181, 168, 154, 1) 96deg,
		rgba(179, 161, 139, 1) 96deg,
		rgba(179, 161, 139, 1) 120deg,
		rgba(175, 152, 125, 1) 120deg,
		rgba(175, 152, 125, 1) 144deg,
		rgba(171, 144, 112, 1) 144deg,
		rgba(171, 144, 112, 1) 168deg,
		rgba(166, 135, 101, 1) 168deg,
		rgba(166, 135, 101, 1) 192deg,
		rgba(161, 126, 92, 1) 192deg,
		rgba(161, 126, 92, 1) 216deg,
		rgba(155, 117, 85, 1) 216deg,
		rgba(155, 117, 85, 1) 240deg,
		rgba(148, 108, 81, 1) 240deg,
		rgba(148, 108, 81, 1) 264deg,
		rgba(141, 99, 79, 1) 264deg,
		rgba(141, 99, 79, 1) 288deg,
		rgba(133, 90, 80, 1) 288deg,
		rgba(133, 90, 80, 1) 312deg,
		rgba(125, 83, 84, 1) 312deg,
		rgba(125, 83, 84, 1) 336deg,
		rgba(116, 75, 91, 1) 336deg 360deg
	);
	min-height: 100%;
	font-size: 32px;
	font-family: Nunito, sans-serif;
	font-weight: thin;
	color: rgb(21, 0, 0);
}

h1 {
	font-size: 2rem;
	margin: 1rem;
	border-bottom: 0.25rem dashed rgb(21, 0, 0);
}

article {
	margin: 1rem;
}
